NET KEY1		LOC = C3 | IOSTANDARD = "LVCMOS33";
NET KEY2		LOC = D3 | IOSTANDARD = "LVCMOS33";
NET KEY3		LOC = E4 | IOSTANDARD = "LVCMOS33";
NET KEY4		LOC = E3 | IOSTANDARD = "LVCMOS33";

NET LED1		LOC = P4 | IOSTANDARD = "LVCMOS33";
NET LED2		LOC = N5 | IOSTANDARD = "LVCMOS33";
NET LED3		LOC = P5 | IOSTANDARD = "LVCMOS33";
# NET LED4		LOC = M6 | IOSTANDARD = "LVCMOS33";
